body{
    margin: 0px;
    background-color: #759AAB;
    color:white;
}

.main{
    width: 1200px;
    height: 800px;
    text-align: center;
    margin: auto;
}

.header{
    display: flex;
    margin-bottom: 0px;
    background-color: #453F78;
}

.information{
    width: 600px;
    display: block;
    margin-top: 50px;
    padding-left: 20px;
}

.icone img{
    width: 25px;
}

.photo{
    width: 300px;
    margin-top: auto;
    margin-left: 100px;
}

.photo img{
    width: 300px;
}

.bouton{
    width: 200px;
    margin: auto;
    padding-top:10px ;
}
.bouton h3{
    border: 2px black solid;
    border-radius: 25px;
    transition: transform .8s;
    
}
.bouton h3:hover{
    background-color: #3F2E56;
    transform: scale(1.5);
}

.container{
    background-color: #3F2E56;
    margin: 0px;
}

h1 img{
    width: 30px;
}
.container h1{
    padding-top: 10px;
}
/* SECTION EXPERIENCE*/
.experience{
    display: flex;
    justify-content: center;
    padding: 20px;   
}
.experience1{
    padding: 20px;
    margin-right: 10px;
    width: 300px;
    box-shadow: 0 0 1em 0 black;
    transition: transform .8s;
}
.experience1:hover{
    color: #3F2E56;
    background-color: white;
    transform: scale(1.2);
}
.experience2{
    padding: 20px;
    box-shadow: 0 0 1em 0 black;
    margin-right: 10px;
    width: 300px;
    transition: transform .8s;
}
.experience2:hover{
    color: #3F2E56;
    background-color: white;
    transform: scale(1.2);
}
.experience3{
    padding: 20px;
    box-shadow: 0 0 1em 0 black;
    margin-right: 10px;
    width: 300px;
    transition: transform .8s;
}
.experience3:hover{
    color: #3F2E56;
    background-color: white;
    transform: scale(1.2);
}

/* SECTION COMPETENCE*/
.competence{
    display: block;
    justify-content: center;
    padding: 20px;
}
.langage-programmation img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 20px;

}
.langue{
    display: flex;
    justify-content: center;
}
.langue p{
    padding: 20px;
    margin-right: 10px;
}

/* SECTION FORMATION*/
.formation{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.formation1{
    padding: 20px;
    border: 1px chartreuse solid;
    margin-right: 10px;
    width: 300px;
}
.formation2{
    padding: 20px;
    border: 1px chartreuse solid;
    margin-right: 10px;
    width: 300px;
}
.formation3{
    padding: 20px;
    border: 1px chartreuse solid;
    margin-right: 10px;
    width: 300px;
}

/* SECTION CENTRE D'INTERET*/
.centre-interet{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.centre-interet p{
    padding: 20px;
    margin-right: 10px;
    border: 1px chartreuse solid;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
